html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the wrapper takes up the full viewport height */
}

.footer-section {
    margin-top: auto; /* Pushes the footer to the bottom */
}
